.subscribe-btn
{
    background: none;
    padding: 1rem;
    border: 1px solid  rgb(123, 123, 123);;
    border-radius: 4rem 10rem;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-top: .6rem;
    box-shadow: 2px 6px rgb(37, 36, 36);
    margin-top: .5rem;
    letter-spacing: .1rem;
}
  
.gradient
{
    background: linear-gradient(90deg, #7D3017, #8D5242, #470A03, #465866, #1E3E5B, #5A6A76);
    background-size: 400%;
    animation: gradient-animation 2s ease forwards; 
}
  
  @keyframes gradient-animation {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  
.subscribed
{
    background-color:rgba(0,0,0,.5);
    color: white;
}
  