*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
  overflow-x: hidden;
  background: rgb(19, 19, 19); 
  color: rgb(224, 224, 224);
  background-color: #171717;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/outlets.png");
  font-family: "Oswald", sans-serif;
 
}